{
  "extends": ["plugin:vue/essential"],
  "parserOptions": {
      "parser": "babel-eslint",
      "ecmaVersion": 2017,
      "sourceType": "module"
  },
  "globals": {
    "window": true,
    "console": true,
    "document": true,
    "Uint8Array": true,
    "localStorage": true,
    "WebGLTexture": true,
    "FileReader": true,
    "alert": true,
    "require": true
  },
  "rules": {
    "comma-dangle": [1, "never"],
    "no-cond-assign": 0,
    "no-console": 0,
    "no-constant-condition": 0,
    "sort-imports": 0,
    "no-duplicate-imports": "warn",
    "no-control-regex": 0,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 0,
    "no-empty": 0,
    "no-extra-boolean-cast": 2,
    "no-extra-semi": 0,
    "no-func-assign": 2,
    "no-inner-declarations": 0,
    "no-negated-in-lhs": 0,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "default-case": 0,
    "no-caller": 2,
    "no-else-return": 0,
    "no-eq-null": 2,
    "no-eval": 0,
    "no-fallthrough": 0,
    "no-implied-eval": 0,
    "no-labels": 0,
    "no-loop-func": 2,
    "no-multi-spaces": 0,
    "no-new": 0,
    "no-proto": 0,
    "no-redeclare": 0,
    "no-self-compare": 0,
    "init-declarations": 0,
    "no-shadow": 2,
    "no-undef": 2,
    "no-undefined": 2,
    "no-unused-vars": 2,
    "no-use-before-define": 0,
    "camelcase": [1, {
      "properties": "always"
    }],
    "comma-spacing": [1, {
      "before": false,
      "after": true
    }],
    "indent": ["warn", 4],
    "new-cap": [0, {
      "newIsCap": true
    }],
    "newline-after-var": [0, "always"],
    "no-mixed-spaces-and-tabs": [0, "smart-tabs"],
    "no-multiple-empty-lines": [0, {
      "max": 1
    }],
    "quotes": [0, "single", "avoid-escape"],
    "space-before-blocks": [1, "always"],
    "space-in-parens": [1, "never"],
    "keyword-spacing": 1,
    "max-depth": [1, 4],
    "max-len": [0, 80, 4, {
      "ignoreComments": true
    }],
    "max-params": [0, 6],
    "max-statements": [0, 8]
  }
}