html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	color: black;
}

* {
	box-sizing: border-box;
}

foreignObject {
	overflow: auto;
}

header {
	height: 50px;
	font-family: monospace;
	color: black;
	padding: 5px 10px;
}

header>* {
	vertical-align: top;
	display: inline-block;
}

header .logo {
	height: 45px;
	font-style: italic;
}

header .item {
	font-size: 18px;
	padding: 12px;
	color: grey;
	font-family: "Gentium Basic";
	text-decoration: none;
	position: relative;
}

header .item.right {
	float: right;
}

header .item .dropmenu {
	display: none;
	padding: 6px 0;
	border-radius: 4px;
	position: absolute;
	top: 100%;
	z-index: 1;
	background-color: white;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

header .item:hover .dropmenu,
header .item:active .dropmenu {
	display: block;
}

.dropmenu .subitem {
	padding: 4px 12px;
	display: block;
	white-space: nowrap;
	cursor: pointer;
}

.dropmenu .subitem:hover {
	background: rgba(167, 167, 197, 0.2);
}

.nightSwitcher {
	float: right;
	height: 26px;
	width: 26px;
	color: black;
	display: inline-block;
	border: 1px solid white;
	background: transparent;
}

.regions {
	padding: 0.5vh;
	display: flex;
	align-items: stretch;
	height: calc(100% - 40px);
}

.region {
	position: relative;
}

.regions .switcher {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.regions .hiden {
	display: none;
}

.sidebar {
	display: flex;
	flex-direction: column;
	flex: 1;
	text-align: center;
	overflow: hidden;
}

.sidebar .night {
	background: black;
}

.sidebar>* {
	flex: 1;
}

.sidebar>*,
.node-editor {
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	border-radius: 2px;
	margin: 1.5vh;
}

.node-editor {
	display: inline-block;
	flex: 2;
}

.socket.number {
	background: #96b38a
}

.socket.image {
	background: #cc2a6a
}

.socket.value {
	background: #848795
}

.socket.curve {
	background: #dfea04
}

.socket.color {
	background: #279ff2
}

.node img,
.node canvas {
	box-sizing: content-box;
	border: 1px solid white;
}

.node img:hover,
.node canvas:hover {
	border: 3px solid white;
	margin: -2px;
}

.node input[type="color"] {
	border-radius: 0;
	padding: 0 2px;
	width: 140px;
	height: 140px;
}

@media only screen and (orientation: portrait) {
	.regions {
		flex-direction: column-reverse;
	}
	.sidebar {
		flex-direction: row-reverse;
		flex: 1.5;
	}
}